<ul class="nav navbar-nav">

    <li>@Html.ActionLink("Clients", "Index", "Client")</li>
    <li>@Html.ActionLink("Projects", "Index", "Project")</li>
    <li>@Html.ActionLink("Payments", "Index", "Payment")</li>
    <li>@Html.ActionLink("TimeRecords", "Index", "TimeRecord")</li>


</ul>