<ul class="nav navbar-nav">

    <li>@Html.ActionLink(BaseProjectGlobalResources.Demos, "Index", new {controller = "Demo", area = ""})</li>
    <li>@Html.ActionLink("Clients", "Index", "Client")</li>

</ul>