@model PaymentListFiltersModel

<div> 
    <hr />
    <a class="btn btn-primary" ng-disabled="!vm.filter.projectId" data-ng-click="vm.create()">Añadir Pago</a>
    <hr />        
    <form role="form" form-parse ng-submit="vm.refresh()">
        <div class="row">
            <div class="col-sm-4">
                @Html.AngularEditorFor(model => model.ProjectId, new { Prefix = "vm.filter", NgSelect="vm.actualizarCliente($item, $model)", NgUiSelectOptions = "vm.projectOptions"} )                
            </div>            
        </div>
    </form>
</div>